html {
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
}
.main-container { max-width: 96% }
/*-----------------------------------------------
/* @media { 	 } queries
/*---------------------------------------------*/
@media screen and (max-width:1230px) { 
	.shareit {
		position: relative!important;
		width: 100%!important;
		top: 0!important;
		padding-left: 0!important;
		padding-right: 0!important;
		margin: 0!important;
		padding-top: 10px!important;
		border: none !important;
	}
}
@media screen and (max-width:1020px) { 
	.ad-300 img, .ad-125 img {
		width: 100%;
		box-sizing: border-box;
	}
}
@media screen and (max-width:1000px) { 
	#move-to-top {
		margin-right: 0;
		right: 5px;
	}
}
@media screen and (max-width:960px) { 
	.secondary-navigation { left: 0 }
	img {
		max-width: 100%;
		height: auto!important;
	}
	.ad-300 img { max-width: 100% }
	.ad-125 li { max-width: 40% }
	.ad-125 img {
		padding: 0;
		border: 0;
	}
}
@media screen and (max-width:900px) { 
	.widget-header { max-width: 70% }
	.slide-text { display: none }
	.latestPost-review-wrapper i { font-size: 18px!important }
}
@media screen and (min-width:865px) { 
	.navigation.mobile-only { display: none }
}
@media screen and (max-width:865px) { 
	#page, .container { max-width: 96% }
	#site-footer .container { padding: 0 2% }
	.mts-cart span a { padding-bottom: 0 }
	.mts-cart {
		float: none;
		text-align: center!important;
	}
	.navigation {
		width: 100%;
		border: none;
		display: none;
	}
	.secondary-navigation {
		width: 100%!important;
		position: relative!important;
		margin-top: 25px!important;
	}
	.navigation .menu a, .navigation .menu .fa > a, .navigation .menu .fa > a {
		color: #fff!important;
		background: transparent;
	}
	.secondary-navigation a, .primary-navigation a { color: #fff!important }
	.navigation .menu {
		display: block!important;
		float: none;
		background: transparent;
		margin-bottom: 45px;
	}
	.navigation ul ul {
		visibility: visible!important;
		opacity: 1!important;
		position: relative;
		left: 0!important;
		border: 0;
		width: 100%;
	}
	.navigation ul li li { background: transparent }
	#navigation { height: auto }
	#navigation li, .navigation ul li li {
		width: 100%!important;
		float: left;
		position: relative;
		border-left: none;
	}
	.navigation ul li:after { display: none }
	.navigation ul li:before { display: none }
	#navigation li a {
		background: transparent;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2)!important;
		width: 100%!important;
		box-sizing: border-box;
	}
	#navigation a {
		text-align: left;
		text-indent: 25px;
	}
	a#pull {
		display: block;
		width: 100%;
		position: relative;
		color: #fff;
		padding: 10px;
		text-indent: 0;
		box-sizing: border-box;
	}
	a#pull:after {
		content: "\f0c9";
		display: inline-block;
		position: absolute;
		right: 23px;
		top: 18px;
		font-family: FontAwesome;
	}
	#navigation.secondary-navigation a {
		padding: 16px 0;
		text-indent: 23px;
	}
	.navigation ul .sfHover a, .navigation ul li:hover, .navigation ul .sfHover ul li { background: transparent }
	/*disable flayout*/
	#catcher { height: 0 !important }
	.sticky-navigation-active {
		position: relative !important;
		top: 0 !important;
	}
	/*-[ Responsive Navigation ]--------------------------------*/
	.main-container {
		position: relative;
		left: 0;
		transition: left 500ms ease;
	}
	.mobile-menu-active .main-container {
		left: 300px;
		transition: left 500ms ease;
	}
	.navigation.mobile-menu-wrapper {
		display: block;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		height: 100%;
		overflow: auto;
		transition: left 500ms ease;
		-webkit-backface-visibility: hidden;
		background: #222222;
	}
	.mobile-menu-active .navigation.mobile-menu-wrapper {
		left: 0;
		z-index: 1111;
	}
	.navigation ul li, .navigation ul li li {
		width: 100%;
		display: block;
		border-bottom: 1px solid rgba(255,255,255,0.15);
	}
	.navigation ul li li:last-of-type { border-bottom: none }
	.navigation ul li:hover, .secondary-navigation .navigation ul li:hover, .secondary-navigation .navigation ul li:hover + li, .navigation .mts-cart li:hover + li {
		background: none!important;
		border-color: rgba(255,255,255,0.15)!important;
	}
	.navigation ul li a, .navigation ul ul a {
		padding: 16px 0;
		width: 100%;
		border: none;
	}
	.navigation ul ul {
		position: static;
		width: 100%;
		border: none;
		padding-top: 0;
	}
	.navigation ul ul:after { display: none }
	.navigation ul ul li {
		background: none;
		width: 100%;
	}
	.navigation ul ul li:first-child { border-top: 1px solid rgba(255,255,255,0.15) }
	.navigation i { display: inline }
	.navigation ul ul a {
		padding: 16px 22px !important;
		width: 100%!important;
	}
	.navigation ul ul ul a { padding: 16px 30px !important }
	.navigation ul ul ul ul a { padding: 16px 38px !important }
	.navigation .toggle-caret {
		display: block;
		width: 49px;
		height: 49px;
		line-height: 49px;
		color: #ffffff;
		border-left: 1px solid rgba(255,255,255,0.15);
	}
	.navigation .menu-item-has-children > a:after { content: '' }
	#mobile-menu-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 999;
		cursor: pointer;
		display: none;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		background: rgba(0,0,0,.5);
	}
	.mts-cart > span {
		width: 100%;
		padding: 0 0 0 20px;
		text-align: left;
		border-bottom: 1px solid rgba(255,255,255,0.15)!important;
		box-sizing: border-box;
	}
	.mts-cart > span:first-of-type { border-top: 1px solid rgba(255,255,255,0.15)!important }
	html.noscroll {
		position: fixed;
		overflow-y: scroll;
		width: 100%;
	}
	.primary-navigation {
		float: none;
		width: 96%;
		margin: 0 auto;
	}
	#site-header .header-search {
		float: none;
		width: 100%;
		overflow: hidden;
		border-left: none;
	}
	#site-header #searchform { min-width: 100% }
	#site-header #s {
		padding-left: 0;
		width: 95%;
	}
	.widget-header { margin-top: 25px }
	.logo-wrap {
		margin: 0;
		max-width: 28%;
	}
	.pagination {
		display: block;
		border: 1px solid #eee;
		border-bottom: 0;
		margin-bottom: 20px;
	}
	#review { width: 100%!important }
	.primary-navigation { z-index: 1 }
	#navigation li.current-menu-item { background: transparent }
	/*-[ Mega Menu ]--------------------------------*/
	#wpmm-megamenu .wpmm-subcategories {
		width: 100%;
		text-indent: 0;
	}
	#wpmm-megamenu .wpmm-posts { width: 100% }
	#wpmm-megamenu .wpmm-post {
		width: 100%!important;
		padding: 0 10px!important;
		text-align: center!important;
	}
	#wpmm-megamenu .wpmm-thumbnail img { float: left }
}
@media screen and (max-width:782px) { 
	.admin-bar .pace .pace-progress { top: 46px }
}
@media screen and (max-width:728px) { 
	#header h1, #header h2, .site-description {
		float: none;
		text-align: center;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	#header h1, #header h2 { font-size: 40px }
	.site-description { margin-top: 0 }
	#logo a, #logo img {
		float: none;
		letter-spacing: 0;
	}
	.logo-wrap {
		margin-top: 0;
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.widget-header {
		max-width: 100%;
		float: left;
		margin-top: 0;
	}
	.secondary-navigation { margin-top: 25px }
}
@media screen and (min-width:400px) {
	.widget-header .adcode-widget {
		width: 320px;
		height: 100px;
	}
}
@media screen and (min-width:550px) {
	.widget-header .adcode-widget {
		width: 468px;
		height: 60;
	}
}
@media screen and (min-width:985px) {
	.widget-header .adcode-widget {
		width: 728px;
		height: 90;
	}
}
@media screen and (max-width:720px) { 
	.article { width: 100% }
	#content_box {
		width: 100%;
		padding-right: 0px;
		padding-left: 0px!important;
	}
	.sidebar.c-4-12 {
		clear: both;
		float: none;
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}
	.f-widget {
		width: 48%;
		margin-right: 4%;
	}
	.f-widget-2 { margin-right: 0 }
	.ad-125 li { max-width: 45% }
	#comments { margin-right: 0 }
	.widget-header .textwidget {
		margin-top: 0;
		padding-left: 0;
		border-left: none;
	}
}
@media screen and (max-width:600px) { 
	.featured-thumbnail img { width: 100% }
	.admin-bar .pace .pace-progress { top: 0px }
	html #wpadminbar { position: fixed }
}
@media screen and (max-width:550px) { 
	.sbutton { float: right }
	.f-widget {
		width: 100%;
		margin-right: 0;
	}
}
@media screen and (max-width:480px) { 
	.secondary-navigation {
		width: 102%;
		height: 35px;
	}
	.related-posts .latestPost {
		width: 100%;
		float: left!important;
		max-width: 100%;
	}
	.related-posts .relatepostli4 {
		padding-bottom: 15px;
		border-bottom: 1px solid #CCC;
		margin-bottom: 11px;
	}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		width: 100%;
		margin-right: 0;
	}
	.copyrights { text-align: center }
	.top { width: 100% }
	#cancel-comment-reply-link {
		margin-bottom: 0;
		margin-top: -43px;
	}
	.latestPost.grid {
		width: 46%;
		margin-right: 8%;
	}
	.latestPost.grid:nth-of-type(3n) { margin-right: 8% }
	.latestPost.grid:nth-of-type(even) { margin-right: 0 }
	.slide-caption {
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
		text-align: center;
		height: auto;
	}
	.slide-title {
		float: none;
		margin: 10px 0;
	}
}
@media screen and (max-width:400px) { 
	article header { overflow: hidden }
	.post-image {
		width: 100%;
		max-width: 100%;
	}
	.featured-thumbnail { max-width: 100% }
	.related-posts article header { width: auto }
}
@media screen and (max-width:320px) { 
	.latestPost {
		float: none;
		width: 100% !important;
	}
	.latest-cat-post #featured-thumbnail {
		width: 100%;
		max-width: 100%;
	}
	.latest-cat-post #featured-thumbnail .featured-thumbnail { float: none }
	#navigation li {
		display: block;
		float: none;
		width: 100%;
	}
	#navigation li a { border-bottom: 1px solid #576979 }
}