blockquote { padding: 0 27px 20px 10px }
blockquote:after {
	content: "\f10e";
	right: 3px;
}
dt {
	float: right;
	clear: right;
	text-align: left;
}
/*-[ Header ]-----------------------*/
.main-header { float: right }
#header { float: right }
#header h1, #header h2 { float: right }
#logo a { float: right }
#logo img { float: right }
.logo-wrap { float: right }
.site-description {
	float: right;
	clear: right;
}
#header .header-search { float: left }
#header #searchform { float: left }
.widget-header { float: left }
/*-[ Navigation ]-----------------*/
#secondary-navigation { float: left }
#secondary-navigation a { text-align: right }
.navigation ul li { float: right }
.navigation ul ul a, .navigation ul ul a:link, .navigation ul ul a:visited {
	padding: 9px 20px 9px 45px;
	border-right: 0;
	border-left: 0;
}
.navigation ul ul ul {
	right: 215px;
	top: 0;
	padding-top: 0;
}
.navigation ul ul:after {
	left: auto;
	right: 10px;
}
.secondary-navigation .navigation > ul li:first-child { border-left: 1px solid rgba(255,255,255,0.15) }
.secondary-navigation .navigation > ul li:last-of-type { border-right: 0 }
.primary-navigation .navigation { float: right }
.menu-item-has-children > a:after {
	left: 15px;
	right: auto;
}
header .navigation i {
	margin-right: 0;
	margin-left: 4px;
}
.navigation .menu-item-has-children > a {
	padding-left: 30px;
	padding-right: 13px!important;
}
.secondary-navigation ul { float: right }
#site-header .header-search {
	float: left;
	border-left: 0;
	border-right: 1px solid #EEE;
}
.mts-cart { float: left }
/*-[ Content ]--------------------*/
article ul { margin: 1.5em 1.9em 1.571em 0 }
article ol { margin: 1.5em 1.9em 1.571em 0 }
.readMore { float: left }
.ss-full-width #content_box {
	padding-left: 0;
	padding-right: 0;
}
.wp-post-image { float: right }
.featured-thumbnail { float: right }
.post-image {
	float: right;
	margin-right: 0;
	margin-left: 2.4%;
}
.single-title {
	float: right;
	padding: 0 0 0 0;
}
.popular-posts .thecomment {
	left: 0;
	right: auto;
	margin: 0;
}
.thecategory { margin-right: 5px }
/**********latest-posts***********/
.latestPost { float: right }
.article .iconlist { margin-right: 0 }
#tabber .inside { padding: 0 0 15px 0 }
#tabber ul.tabs li {
	float: right;
	margin-right: 0;
}
#tabber ul.tabs li a {
	float: right;
	padding: 2px 0 2px 0;
}
#tabber ul.tabs li.tab-recent-posts a { border-right: 0 }
#tabber .inside li {
	padding: 15px 0 0 0;
	margin-right: 15px;
	margin-left: 15px;
}
#tabber .tab-thumb {
	float: right;
	margin: 0px 0px 0px 12px;
}
#tabber .inside .tabsSep { float: right }
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-right: 5px }
/*-[ Tables ]--------------------*/
table { text-align: right }
table th, table td { text-align: right }
/*-[ Search Form ]------------------*/
#searchform { float: right }
#search-image.sbutton, #searchsubmit {
	left: 0px;
	float: left;
	right: auto;
}
#searchform .fa-search {
	left: 0px;
	border-left: 1px solid #d7d7d9;
	border-right: 0;
}
#s { float: right }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
	margin-left: 14px;
	margin-right: 4px;
}
/*-[ Read More ]-------------------*/
.read-more { margin: 0 10px 0 0 }
/*-[ Bottom Ad in post ]-----------*/
.bottomad { float: right }
#sidebar .wp-post-image, #site-footer .wp-post-image, .widget .wp-post-image, .widget .wpt_thumb_small, .wpt_avatar, .widget .wp_review_tab_thumb_small {
	margin-left: 10px;
	margin-right: 0;
	float: right;
}
.widget { float: right }
.widget h3 { margin: 0px 0 15px 0 }
.shareit.floating { margin: 0 630px 0 0 }
.share-item { float: right }
.share-item.shareit.top { float: right }
.social-profile-icons ul li { float: right }
.f-widget {
	float: right;
	margin-left: 2%;
	margin-right: 0;
}
.copyrights { float: right }
/*-[ Back To Top ]---------------------------*/
.top { float: left }
.toplink .fa-chevron-up { left: 0 }
.toplink { padding-left: 27px }
#move-to-top { left: 26px }
/*-[ Related Posts ]---------------------------*/
.related-posts ul { margin-right: 0 }
.related-posts h5 { padding-right: 80px }
.related-posts .relatepostli3, .related-posts .relatepostli1 {
	margin-left: 0;
	float: left;
}
.related-posts li { float: right }
.rthumb {
	float: right;
	margin-left: 10px;
}
.related-posts .last { margin-left: 0 }
/*-[ Post Tags ]---------------------------------*/
.tags a { margin-right: 5px }
.postauthor img {
	float: right;
	margin: 4px 0 0 20px;
}
.left { float: right }
.right { float: left }
.last { margin-left: 0 }
.widget li {
	margin-left: 0;
	margin-right: 17px;
}
.advanced-recent-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li, .recent-reviews li { margin-right: 0 }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
	float: right;
	margin-left: 3px;
}
/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] { float: right }
#mts_subscribe_widget { border: 1px solid #F1F1F1 !important }
.mts-subscribe input[type="submit"] {
	float: left;
	left: 0;
	right: auto;
}
/*-[ Ad Widgets ]------------------------------*/
.ad-125 li {
	float: right;
	padding-right: 0;
	margin-right: 0;
}
.ad-125 li:nth-child(2n+2) { float: left!important }
#wp-calendar td { border-left: 1px solid #F1F4F6 }
#wp-calendar #prev {
	text-align: right;
	padding-right: 12px;
}
/*-[Comments]--------------*/
.nocomments { float: right }
#comments { float: right }
#commentsAdd { float: right }
#comments .avatar {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.comment .fn { float: right }
.ago {
	margin-left: 0;
	margin-right: 5px;
}
.comment time { padding-right: 10px }
ul.children .commentImageLeft {
	border-right: 1px solid #c1bbb6;
	right: -70px;
}
input#author, input#email, input#url { margin-left: 10px }
#commentform input#submit, .contact-form input[type="submit"] { float: right }
ol.commentlist { margin-right: 0 }
.commentlist li { float: right }
.reply { float: left }
.reply a { float: left }
.commentlist .children {
	margin-left: 0;
	margin-right: 10%;
	float: right;
}
.bypostauthor:after {
	left: 0;
	right: auto!important;
}
.avatar { float: right }
#commentform p { float: right }
#commentform p label { padding-right: 10px }
.cancel-comment-reply a { float: left }
.comment-notes .required { padding-right: 0 }
/*-[ pagination ]------------------*/
.pagination ul li { float: right }
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, .pagination a, .pagination .page-numbers.dots, .currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, .page-numbers.current, .single .pagination .currenttext, .single .pagination a {
	margin: 0 0 0 5px;
	float: right;
}
.pagination .nav-previous { float: right }
.pagination .nav-next { float: left }
.single .pagination a .currenttext, .single .pagination a:hover .currenttext { margin-left: 0 }
.contact-form.loading:after { right: 0 }
.ajax-search-results-container { right: 0 }
.ajax-search-results-container.loading:after {
	left: 0;
	right: 0;
}
.ajax-search-results .wp-post-image {
	margin-left: 10px;
	margin-right: 0;
}
.ajax-search-meta .results-count { float: right }
.ajax-search-meta .results-link { float: left }
/*-[ Load More ]-------------------*/
.pace .pace-progress { right: 0 }
pre:before { left: 14px }
/*-[ WP Tab Widget ]--------------------------------*/
.wpt_widget_content .inside li, .widget .wp_review_tab_widget_content .tab-content li { text-align: right!important }
/*-[ WP Review ]--------------------------------*/
.review-desc { float: right }
.review-total-wrapper {
	float: left;
	margin-right: 0;
	margin-left: 15px;
}
.user-total-wrapper {
	float: right;
	text-align: right;
}
.user-total-wrapper span { float: right }
span#mts-user-reviews-counter { float: none }
.review-total-star.allowed-to-rate { float: left }
.widget .wp-review-tab-pagination a.next { float: left }
.widget .wp-review-tab-pagination a.prev { float: right }
#site-header #s { padding: 13px 10px 13px 0px }
.popular-posts li {
	padding: 7px 10px 10px 24px;
	margin-right: 0;
}
.viewtext { float: right }
.viewsbox { float: left }
.to-top { float: left }
#featured-thumbnail {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}